@font-face {
  font-family: 'quicksandbold';
  src: url("../../fonts/quicksand-bold-webfont.woff2") format("woff2"), url("../../fonts/quicksand-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand_lightregular';
  src: url("../../fonts/quicksand-light-webfont.woff2") format("woff2"), url("../../fonts/quicksand-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksand_mediumregular';
  src: url("../../fonts/quicksand-medium-webfont.woff2") format("woff2"), url("../../fonts/quicksand-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandregular';
  src: url("../../fonts/quicksand-regular-webfont.woff2") format("woff2"), url("../../fonts/quicksand-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* Fuente Titillium Web */
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 400;

    src: local('☺'),

        url(../../fonts/Titillium+Web_400_normal.woff2) format('woff2'), 
        url(../../fonts/Titillium+Web_400_normal.woff) format('woff'), 
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 300;

    src: local('☺'),
        url(../../fonts/Titillium+Web_300_normal.woff2) format('woff2'), 
        url(../../fonts/Titillium+Web_300_normal.woff) format('woff'), 
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;

    src: local('☺'),

        url(../../fonts/Titillium+Web_600_normal.woff2) format('woff2'), 
        url(../../fonts/Titillium+Web_600_normal.woff) format('woff'), 
}
@font-face {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 700;
    src: local('☺'),

        url(../../fonts/Titillium+Web_700_normal.woff2) format('woff2'), 
        url(../../fonts/Titillium+Web_700_normal.woff) format('woff'), 
}

/* Fuente inconsolata */

@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 400;

    src: local('☺'),

        url(../../fonts/Inconsolata_400_normal.woff2) format('woff2'),
        url(../../fonts/Inconsolata_400_normal.woff) format('woff'), 
}
@font-face {
    font-family: 'Inconsolata';
    font-style: normal;
    font-weight: 700;

    src: local('☺'),

        url(../../fonts/Inconsolata_700_normal.woff2) format('woff2'), 
        url(../../fonts/Inconsolata_700_normal.woff) format('woff'), 
}

$colorBackground:white;